.message {
  padding: 5px 20px;
  position: relative;
  word-wrap: break-word;
  line-height: 20px;
}

.message:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

.username {
  display: inline-block;
  color: red;
  font-weight: 700;
}

.timestamp {
  color: #adadb8;
  margin-right: .5em;
}
