.filtersWrapper {
  background-color: #080809;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 5px 10px;
}

.filters {
  background-color: #19191A;
  position: absolute;
  display: none;
  top: 100%;
  z-index: 5;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #000;
}

.filters.isVisible {
  display: block;
}

.actions {
  display: flex;
}
