@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: local('Inter'), url(./fonts/Inter-Bold.woff) format('woff');
}

body {
  margin: 0;
  font-family: 'Inter';
  font-size: 13px;
  font-style: normal;
  background: rgb(14, 14, 16);
  color: rgb(239, 239, 241);
}

a {
  color: #a970ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background: rgba(255, 255, 255, 0.2);
}
